body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  font-family: Roboto, sans-serif;
}
.header,
.footer {
  background: #1f2937;
}
.hero-text {
  font-size: 48px;
  font-weight: 900;
}
.hero-text,
.logo,
.action-text {
  color: #f9faf8;
}
.logo {
  font-size: 24px;
}
.hero-subtext,
a,
button,
.footer,
.action-subtext {
  color: #e5e7eb;
}
.hero-subtext,
a {
  font-size: 18px;
}
button,
.action {
  background: #3882f6;
  border: none;
  border-radius: 5px;
  padding: 2px 16px;
}
.action-button {
  border: 1px solid #f9faf8;
}
.info-title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.quote-section {
  background: #e5e7eb;
}
.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}

/* Header styling */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.header-links {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  gap: 18px;
}

.top-section {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 80%;
  height: 100%;
}
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}
.hero-img {
  flex-basis: 100%;
  text-align: end;
}
.hero-img img {
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
}

/* Information section styling */
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 25px;
}

.info-cards {
  display: flex;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 50px 25px;
  gap: 15px;
}
.card-img {
  flex-basis: 100%;
}
.card-img img {
  width: 100%;
  max-width: 200px;
}

.card-subtext {
  font-style: italic;
  max-width: 200px;
}

/* quote section styling */
.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.quote-arthur {
  font-weight: bold;
  align-self: end;
}

/* action section styling */
.action-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.action {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  width: 70%;
  max-width: 600px;
  gap: 50px;
  border-radius: 10px;
}

button {
  flex-shrink: 0;
}

/* footer styling */
.footer {
  display: flex;
  justify-content: center;
}
