body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  font-family: Roboto, sans-serif;
}
.header,
.footer {
  background: #1f2937;
}
.hero-text {
  font-size: 48px;
  font-weight: 900;
}
.hero-text,
.logo {
  color: #f9faf8;
}
.logo {
  font-size: 24px;
}
.hero-subtext,
a,
button,
.footer {
  color: #e5e7eb;
}
.hero-subtext,
a {
  font-size: 18px;
}
button,
.action-section {
  background: #3882f6;
  border: none;
  border-radius: 5px;
  padding: 2px 16px;
}
.action-button {
  border: 1px solid #f9faf8;
}
.info-title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.quote-section {
  background: #e5e7eb;
}
.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}

/* Header styling */
.header {
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
}

.header-links {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  gap: 18px;
}

/* Hero section styling */
.img-section {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  color: #e5e7eb;
  font-size: 18px;
  flex: 1 1 auto;
}

.top-section {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 80%;
  height: 100%;
}
